lib/
3rdparty/curl-7.61.1/
3rdparty/openssl-1.0.2p/
3rdparty/zlib-1.2.11/
build-mac-Public-clang-SuperRelease/
debug-mac-Public-clang-SuperRelease/
build-mac-Public-clang-Debug/
debug-mac-Public-clang-Debug/
build-linux-Public-gcc-SuperRelease/
debug-linux-Public-gcc-SuperRelease/
build-linux-Public-gcc-Debug/
debug-linux-Public-gcc-Debug/

.DS_Store
.cproject
.project
.settings/